@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto:wght@400;700;900&display=swap');
/* font-family: 'Finger Paint', cursive; */
/* font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: "Heaters";
    src: url(/assets/Heaters.otf);
}
/* Confiugración básica */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

section{
    min-height: 100vh;
}

p,a{
    font-size: 1.6rem;
}

h1{
    color: #fff;
    font-size: 8rem;
    text-align: center;
}
h2{
    font-size: 6rem;
}
.whitePhrase{
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
}
.fontStyled{
    font-family: 'Heaters', cursive;
    font-weight: 100;
    color: black;
}
/* Navbar */
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    z-index: 100;
}
.navbar a{
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
}

.navbar a:hover{
    font-weight: bold;
}
/* Seccion de bienvenida */
#welcomeSection{
    background-image: url('../assets/dark.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

/* Seccion de quienes somos */
#whoSection{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/triangle.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.whoContainer{
    text-align: center;
    position: relative;
}
.whoText{
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
}
.whoText p{
    font-size: 2rem;
    transition: .3s;
}
.brocha{
    content: url('../assets/brocha.png');
    margin-top: 5rem;
    width: 120rem;
}
/* Seccion de categorías */
#categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/categoriesBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.categoriesContainer{
    display: flex;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 12rem;
    height: 15rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.03rem 1rem rgba(0,0,0,0.25);
    margin: 1rem;  
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: #fff;
    transition: .3s;
}
.category:hover{
    padding: 1rem;
    border: solid 0.1rem #000;
    transition: .3s;
}
.category img{
    width: 8rem;
}
/* Sección de contacto */
#contactSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/triangle.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.contactButtonContainer a{
    border: solid 0.1rem white;
    margin: 0.5rem;
}
.contactButtonContainer img{
    width: 8rem;
    transition: .3s;
}
.contactButtonContainer img:hover{
    width: 9rem;
    transition: .3s;
}

/* Responsive */
@media screen and (max-width:1440px) {
    .title h1{
        font-size: 6rem;
    }
    .title img{
        width: 50rem;
    }
    .brocha{
        margin-top: 5rem;
        width: 100rem;
    }
}
@media screen and (max-width:1024px) {
    .title h1{
        font-size: 5rem;
    }
    .title img{
        width: 50rem;
    }
    .brocha{
        margin-top: 5rem;
        width: 75rem;
    }
    .whoText h2{
        font-size: 4rem;
    }
    .whoText p{
        font-size: 1.7rem;
    }
}
@media screen and (max-width:768px) {
    .title h1{
        font-size: 4rem;
    }
    .title img{
        width: 40rem;
    }
    .brocha{
        content: url('../assets/brochaMovil.png');
        margin-top: 5rem;
        width: 100%;
    }
    .whoText{
        top: 35%;
    }
    .whoText h2{
        font-size: 5rem;
    }
    .whoText p{
        font-size: 2rem;
    }
    .categoriesContainer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contactButtonContainer img{
        width: 4rem;
    }
    .contactButtonContainer img:hover{
        width: 5rem;
    }
    .category img{
        width: 6rem;
    }
    .category{
        width: 10rem;
        height: 12rem;
        font-size: 1.4rem;
    }
}    
@media screen and (max-width:560px) {
    .navbar{
        display: none;
    }
    #welcomeSection, .title{
        padding-top: 0rem;
    }
    .title h1{
        font-size: 3rem;
    }
    .title img{
        width: 30rem;
    }
    .brocha{
        margin-top: 4rem;
    }
    .whoText h2{
        font-size: 4rem;
    }
    .whoText p{
        font-size: 1.6rem;
    }
    .categoriesContainer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contactButtonContainer img{
        width: 3.5rem;
    }
    .contactButtonContainer img:hover{
        width: 4.5rem;
    }
    .category img{
        width: 4rem;
    }
    .category{
        width: 8rem;
        height: 10rem;
        font-size: 1.4rem;
    }
    #categories h2{
        font-size: 3rem;
    }
}  
@media screen and (max-width:425px) {
    .brocha{
        content: url('../assets/brochaTinnyMovil.png');
    }
    .whoText{
        left: 10%;
        width: 80%;
    }
}